:root{
    --main-color:#1F1F1F;
    --sec-color:#545454;
}
body{
    font-family: "Inter", serif;
}
.btn{
    background-color: var(--main-color);
    border-radius: 4px;
    font-weight: 500;
}
.btn:hover{
    background-color: var(--sec-color);
}
/* start nav */
nav .navbar-collapse button{
    font-size: 19px;
}
nav .navbar-collapse ul li a{
    font-size: 22px;
}
nav .navbar-collapse ul li a:not(.active){
    color: var(--sec-color);
}
.navbar-nav .nav-link.active{
    color: var(--main-color);
}
/* end nav */
/* start hero-section */
.hero-section .title{
    color: var(--main-color);
    font-size: 99px;
    font-weight: 500;
}
.hero-section .content{
    font-size: 17px;
    font-weight: 500;
    line-height: 42px;
    color: var(--sec-color);
}
.hero-section .top-img{
    height: 425px;
    width: 435px;
}
.hero-section button{
    font-size: 24px;
}
.hero-section .counts .count p{
    font-size: 60px;
    font-weight: 400;
    color: var(--sec-color);
    margin-bottom: 0;
}
.hero-section .counts .count span{
    font-size: 19px;
    font-weight: 400;
    color: var(--sec-color);
}
.hero-section .bottom-img::before{
    content: "";
    position: absolute;
    width: 206px;
    height: 187px;
    top: -20px;
    left: 3px;
    border-radius: 4px 0px 0px 0px;
    border: 2px solid var(--main-color);
    z-index: -1;
}
/* end hero-section */
/* start services-section */
.services span{
    height: 3px;
    width: 90px;
    background-color: var(--main-color);
}
.services .s-title{
    font-size: 50px;
    font-weight: 600;
    line-height: 70.19px;
    color: var(--main-color);
}
.services .s-cards .s-card .card-title{
    font-size: 26px;
    font-weight: 600;
    line-height: 36.31px;
    color: var(--main-color);
}
.services .s-cards .s-card .card-content{
    font-size: 16px;
    font-weight: 500;
    line-height: 36.34px;
    color: var(--sec-color);
} 
/* end services-section */
/* start designing */
.desining .title{
    font-size: 48px;
    font-weight: 600;
    line-height: 70.19px;
    color: var(--main-color);
}
.desining .content{
    font-size: 17px;
    font-weight: 500;
    line-height: 39.65px;
    color: var(--sec-color);
}
.more-designs{
    font-size: 20px;
    font-weight: 600;
    line-height: 39.65px;
    color: var(--main-color);
    border-width:  1px;
    border-color: transparent transparent #DADADA transparent;
    border-style: solid;
}
.desining .btn{
    font-size: 20px;
}
/* end designing */