:root{
    --main-color:#1F1F1F;
    --sec-color:#545454;
}
body{
    font-family: "Inter", serif;
}
.btn{
    background-color: var(--main-color);
    border-radius: 4px;
    font-weight: 500;
}
.btn:hover{
    background-color: var(--sec-color);
}
/* start nav */
nav .navbar-collapse button{
    font-size: 19px;
}
nav .navbar-collapse ul li a{
    font-size: 22px;
}
nav .navbar-collapse ul li a:not(.active){
    color: var(--sec-color);
}
.navbar-nav .nav-link.active{
    color: var(--main-color);
}
/* end nav */
/* start hero-section */
.hero-section .title{
    color: var(--main-color);
    font-size: 99px;
    font-weight: 500;
}
.hero-section .content{
    font-size: 17px;
    font-weight: 500;
    line-height: 42px;
    color: var(--sec-color);
}
.hero-section .top-img{
    height: 425px;
    width: 435px;
}
.hero-section button{
    font-size: 24px;
}
.hero-section .counts .count p{
    font-size: 60px;
    font-weight: 400;
    color: var(--sec-color);
    margin-bottom: 0;
}
.hero-section .counts .count span{
    font-size: 19px;
    font-weight: 400;
    color: var(--sec-color);
}
.hero-section .bottom-img::before{
    content: "";
    position: absolute;
    width: 206px;
    height: 187px;
    top: -20px;
    left: 3px;
    border-radius: 4px 0px 0px 0px;
    border: 2px solid var(--main-color);
    z-index: -1;
}

/* end hero-section */
/* start services-section */
.services span{
    height: 3px;
    width: 90px;
    background-color: var(--main-color);
}
.services .s-title{
    font-size: 50px;
    font-weight: 600;
    line-height: 70.19px;
    color: var(--main-color);
}
.services .s-cards .s-card .card-title{
    font-size: 26px;
    font-weight: 600;
    line-height: 36.31px;
    color: var(--main-color);
}
.services .s-cards .s-card .card-content{
    font-size: 16px;
    font-weight: 500;
    line-height: 36.34px;
    color: var(--sec-color);
} 
/* end services-section */
/* start designing */
.desining .title{
    font-size: 48px;
    font-weight: 600;
    line-height: 70.19px;
    color: var(--main-color);
}
.desining .content{
    font-size: 17px;
    font-weight: 500;
    line-height: 39.65px;
    color: var(--sec-color);
}
.more-designs{
    font-size: 20px;
    font-weight: 600;
    line-height: 39.65px;
    color: var(--main-color);
    border-width:  1px;
    border-color: transparent transparent #DADADA transparent;
    border-style: solid;
}
.desining .btn{
    font-size: 20px;
}
/* end designing */
/* start designing step */
.designing-steps .main-title{
    font-size: 48px;
    font-weight: 600;
    line-height: 70.19px;
    color: var(--main-color);
}
.designing-steps .step.line::before{
    content: "";
    position: absolute;
    width: 1px;
    height: 45%;
    background-color: #9B9B9B;
    left: 36px;
    top:92px
}
.designing-steps .step .step-title{
    font-size: 30px;
    font-weight: 700;
    line-height: 36.31px;
    color: var(--main-color);
}
.designing-steps .step .step-content{
    font-size: 18px;
    font-weight: 500;
    line-height: 39.65px;
    color: var(--sec-color);
}
/* end designing step */
/* start Testamonials-section */
.Testamonials-section .main-title{
    font-size: 48px;
    font-weight: 600;
    line-height: 70.19px;
}
.testamonial-cards{
    position: absolute;
    left: 24px;
    bottom: -56px;
    width: calc(100% - 24px);
    margin: 0;
}
.testamonial-cards .arrows span {
    background-color: #F1F1F1;
}
.testamonial-cards .arrows span i{
    font-size: 25px;
    color: #464646;
}
.testamonial-cards .test-card{
    background-color: var(--main-color);
}
.testamonial-cards .main-card, 
.testamonial-cards .test-card{
    border-radius: 4px;
}
.testamonial-cards .test-card span{
    font-family: math;
    font-size: 140px;
    font-weight: 500;
    line-height: 70px;
}
.testamonial-cards .test-card .test-cont{
    font-size: 19px;
    font-weight: 500;
}
.testamonial-cards .test-card .name{
    font-size: 19px;
    font-weight: 600;
}
.testamonial-cards .test-card .place{
    font-size: 18px;
    font-weight: 500;
}
@media (min-width:992px) and (max-width:1200px) {
    .testamonial-cards {
            position: absolute;
            font-size: 17px;
            font-weight: 600;
            top: 0;
            bottom:0;
        }
}
@media (max-width:1200px) {
    .testamonial-cards .card2 {
            display: none;
        }
}
@media (max-width:992px) {
    .testamonial-cards {
            position:relative;
            font-size: 20px;
            font-weight: 600;
            flex-direction: column-reverse;
            gap: 10px;
            bottom: unset;
            left: unset;
            margin: 0 auto;
        }
        .testamonial-cards .test-card .test-cont {
            font-size: 16px;
        }
    
        .testamonial-cards .test-card .name {
            font-size: 16px;
        }
    
        .testamonial-cards .test-card .place {
            font-size: 15px;
        }
}
/* end Testamonials-section */
/* start Newsletter section */
.newsletter .main .title{
    font-size: 40px;
    font-weight: 600;
    line-height: 70.19px;
    color: var(--main-color);
}
.newsletter .main .content{
    font-size: 18px;
    font-weight: 500;
    line-height: 39.65px;
    color: var(--sec-color);
}
.newsletter  .subscribe{
    border-radius: 4px;
    box-shadow: 0px 10px 100px 0px #00000024;
    bottom: -82px;
}
.newsletter  .subscribe i{
    font-size: 17px;
    color: #8C8C8C;
}
.newsletter .subscribe div{
    width: auto;
}
.newsletter  .subscribe input{
    border: none;
    outline: none;
    color: #8C8C8C;
    font-weight: 500;
    font-size: 17px;
}
@media (min-width:576px) {
    .newsletter .subscribe div {
            width:100%;
        }
}
@media (max-width:576px) {
    .newsletter .subscribe {
            width: fit-content;
        }
}
/* end Newsletter section */
/* start footer */
footer{
    background-color: var(--main-color);
    color: #D1D1D1;
    z-index: -1;
}
footer .icons li{
    background-color: #313131;
    border-radius: 4px;
}
footer li i{
    font-size: 14px;
}
/* end footer */
/* responseve font edits */
@media (max-width:767px) {

    .hero-section .title,
    .desining .title,
    .designing-steps .main-title,
    .Testamonials-section .main-title {
        font-size: 40px;
    }

    .services .s-title {
        font-size: 30px;
    }
}